/*Font from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*Basic styling*/
body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

/*Show me a country button*/
#show-me-a-country {
    font-size: 150%;
    width: 200px;
    padding: 2%;
    margin: 2%;
    border: 2px solid black;
    border-radius: 20px;
}

/*Answer Buttons*/
.answer-button {
    font-size: 150%;
    width: 200px;
    padding: 2%;
    margin: 2%;
    background: rgb(148, 148, 255);
    border: 2px solid black;
    border-radius: 20px;
}

/*Footer
 #score {
    position: fixed;
    background: rgb(148, 148, 255);
    width: 100%;
    font-size: 150%;
 }

 #score {
    font-size: 150%;
 }*/

 #player-choice {
    font-size: 200%;
    display: flex;
    flex-direction: column;
 }

 .fa-solid {
    font-size: 300%;
 }